extends partial/layout

block container
    include mixins/post
    +posts()
    include partial/sidebar

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright

mixin subscribe()
    div.subscribe
        .subscribe-wrap
            span.text
                | Sign up for news updates
            +mailChimp()
