extends partial/layout

block jumbotron
    include partial/jumbotron

block container
    include partial/structured_data

    include partial/topics
    include partial/speakers
    +subscribe()
    include partial/schedule
    +schedule(page.conferenceKeyword, page.cityKeyword)
    include partial/sponsors
    include partial/testimonials
    include partial/news
    include partial/venue
    // include partial/about
    include partial/contact

block copyright
    include partial/copyright
    +copyright(page.conferenceKeyword, page.cityKeyword)

mixin subscribe()
    include mixins/mailChimp
    div.subscribe
        .subscribe-wrap
            span.text
                != general["subscribe-title"]
            +mailChimp()
