extends partial/layout

block navigation
    include partial/nav-main

block jumbotron
    include mixins/jumbotron
    +videos()
    // +subscribe()

block container
    - var controls = site.data.module_controls;
    - var m = controls.length;
    - for (module in controls) {
        - if (module == "topics" && controls[module]) {
            include partial/topics
        - }
        - if (module == "speakers" && controls[module]) {
            include partial/speakers
        - }
        - if (module == "schedule" && controls[module]) {
            include partial/schedule
        - }
        - if (module == "sponsors" && controls[module]) {
            include partial/sponsors
        - }
        - if (module == "venue" && controls[module]) {
            include partial/venue
        - }
        - if (module == "about" && controls[module]) {
            include partial/about
        - }
        - if (module == "contact" && controls[module]) {
            include partial/contact
        - }
    - }
    // include partial/topics
    // include partial/speakers
    // include partial/schedule
    // include partial/sponsors
    // include partial/venue
    // include partial/about
    // include partial/contact

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
