- var type = "register"
- var general = site.data.general

doctype
html(lang=config.language, prefix="og: http://ogp.me/ns#")
    head
        include partial/head
    body(class=type)
        // Google Tag Manager (noscript)
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-K869LBB", height="0", width="0", style="display:none;visibility:hidden")
        // End Google Tag Manager (noscript)

        - var data = site.data.general
        script.
            window.location.replace("!{general['register-link']}");
