extends partial/layout

block container
    include partial/schedule
    +schedule(page.conferenceKeyword, page.cityKeyword)

block copyright
    include partial/copyright
    +copyright(page.conferenceKeyword, page.cityKeyword)
