.module.module-contact
    .contact
        a.module-title(name="contact")
            | Contact Us
        form(method='POST', action='https://formspree.io/mgeywrqm')
            input(class='input-name', type='name', name='_replyto', placeholder='Name', value='', required='')
            input(class='input-email', type='email', name='_replyto', placeholder='Email', value='', required='')
            input(class='input-subject', type='subject', name='_replyto', placeholder='Subject', value='', required='')
            textarea(class='input-message', name='message', rows='5', placeholder='Message', required='')
            button(class='submit-button', type='submit') Send
        span.company-address
            | 940 Stewart Dr Sunnyvale, CA 94085
            br
            a(href="mailto:info@aifrontiers.com")
                | info@aifrontiers.com
