.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    .social-bar
        img(class="social-icons", src="/images/linkedin.png")
        img(class="social-icons", src="/images/facebook.png")
        img(class="social-icons", src="/images/twitter.png")
    p © #{year} by #[a(href=config.url)!= config.author].
