div.eventbrite
  iframe(src='https://eventbrite.com/tickets-external?eid=47184033715&ref=etckt' frameborder='0' height='478' width='100%' vspace='0' hspace='0' marginheight='5' marginwidth='5' scrolling='auto' allowtransparency='true')
