- var general  = site.data.general
header#header
    .logo-group
        a.logo-link(href=url_for())
            img(src=url_for(theme.logo) alt="AI Frontiers conference" + " | " + (page.conferenceKeyword || "AI Conference"))
        span.conf-date
            | #{date(general["start-date"], "MMMM D-" + date(general["end-date"], "D") + ", YYYY")}
    .header-right
        .navigation
            include navigation/nav-main
            include navigation/nav-sub
            include navigation/nav-mobile
        include social-bar
        if type != 'tickets'
            a.button.button-effects.buy-tickets(href="/tickets/")
                != general["header-register-button-text"]
        else
            a.button.button-effects.buy-tickets(href="/register/")
                != general["header-register-button-text"]
