- var speakers = site.data.speakers
- var m = 0
each speaker in speakers
    if (!speaker["hidden"] && !speaker["previous"])
        - m++
.speakers-bar(style="height: " + 100 / m + "vw;")
    each speaker in speakers
        if (!speaker["hidden"] && !speaker["previous"])
            img.speaker-photo(src=speaker["photo"], style="height: " +  100 / m + "vw; width: " +  100 / m + "vw;")
