- var general  = site.data.general
- var speakers = site.data.speakers
- var controls = site.data.module_controls

.jumbotron
    #fgPlayer(style="display: none")
    .jumbotron-wrap
        img.conf-logo(src="/images/logo-horizontal-white.png")
        span.conf-title
            span.conf-name 
                != general["conference-name"]
            span.conf-nd
                | Conference
        span.conf-theme
            span.applied  Applied
            span.deep-learning-and  Deep Learning
        span.conf-info
            span.conf-date #{date(general["beginning-date"], "MMMM D-" + date(general["ending-date"], "D") + ", YYYY")}
            span.sep
                != ", "
            span.conf-location
                != general["venue-name"]
        .buttons
            a.button.register-button(href="/register", alt="Register") Register
            a.button.video-button.desktop(alt="Last Edition Video", rel="modal:open", href="#fgPlayer") Watch Video
            a.button.video-button.mobile(alt="Last Edition Video", href="http://m.youtube.com/watch?v=WiD_uWWfqaw?autoplay=1&playsinline") Watch Video

    if controls["speakers"]
        - var m = 0
        each speaker in speakers
            if (!speaker["hidden"])
            - m++
        .speakers-bar(style="height: " + 100 / m + "vw;")
            each speaker in speakers
                if (!speaker["hidden"])
                    img.speaker-photo(src=speaker["photo"], style="height: " +  100 / m + "vw; width: " +  100 / m + "vw;")

    .bg-video
        #bgPlayer

mixin videos()
    div.intro-video
        iframe(src="https://www.youtube.com/embed/WiD_uWWfqaw?ecver=2",width="408",height="240",frameborder="0",allowfullscreen)
