- var general  = site.data.general
- var controls = site.data.module_controls

.jumbotron
    #fgPlayer(style="display: none")
    .jumbotron-fg#main-event
        .conf-title
            h1.conf-name
                // img(src="/images/logo_AI.svg" alt="AI")
                | AI Frontiers
                span.conf-nd
                    |  Conference
            h2.conf-slogan
                != general["conference-slogan"]
        // h2.conf-theme
        //     != general["conference-theme"]
        span.conf-info
            h3.conf-date #{date(general["start-date"], "MMMM D-" + date(general["end-date"], "D") + ", YYYY")}
            span.sep
                != ", "
            h3.conf-location
                != general["venue-name"]
        .buttons
            a.button.register-button(href="/tickets/")
                != general["jumbotron-register-button-text"]
            // a.button.video-button.desktop(alt="Last Edition Video", rel="modal:open", href="#fgPlayer")
            //     != general["jumbotron-watch-video-button-text"]
            // a.button.video-button.mobile(alt="Last Edition Video", href="http://m.youtube.com/watch?v=WiD_uWWfqaw?autoplay=1&playsinline")
            //     != general["jumbotron-watch-video-button-text"]

    include jumbotron-speakers

    if general["bg-video"]
        .bg-video
            #bgPlayer
    else
        include jumbotron-slider


