if page.layout
    // page
    - var type = page.layout
else if page.tags
    // post
    - var type = "post"
else if page.path == "index.html"
    // index
    - var type = "index"
else if page.archive
    // archive
    - var type = "archive"
else if page.category
    // category
    - var type = "category"
else if page.tag
    // tag
    - var type = "tag"

doctype
html(lang=config.language, prefix="og: http://ogp.me/ns#")
    head
        include head
    body(class=type)
        // Google Tag Manager (noscript)
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-K869LBB", height="0", width="0", style="display:none;visibility:hidden")
        // End Google Tag Manager (noscript)
        .wrap
            include header
            block jumbotron
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts
