if page.layout
    // page
    - var type = page.layout
else if page.tags
    // post
    - var type = "post"
else if page.path == "index.html"
    // index
    - var type = "index"
else if page.archive
    // archive
    - var type = "archive"
else if page.category
    // category
    - var type = "category"
else if page.tag
    // tag
    - var type = "tag"

doctype
html(lang=config.language, prefix="og: http://ogp.me/ns#")
    head
        include head
    body(class=type)
        // Google Tag Manager (noscript)
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-K869LBB", height="0", width="0", style="display:none;visibility:hidden")
        // End Google Tag Manager (noscript)
        .wrap
            include header
            block jumbotron
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts
        // Google Code for Remarketing Tag
        //
            ------------------------------------------------
            Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
            -------------------------------------------------
        script(type="text/javascript").
            var google_tag_params = {
            // dynx_itemid: 'REPLACE_WITH_VALUE',
            // dynx_itemid2: 'REPLACE_WITH_VALUE',
            // dynx_pagetype: 'REPLACE_WITH_VALUE',
            // dynx_totalvalue: 'REPLACE_WITH_VALUE',
            };
        script(type="text/javascript").
            /* <![CDATA[ */
            var google_conversion_id = 830904628;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        script(type="text/javascript", src="//www.googleadservices.com/pagead/conversion.js")
        noscript
            div(style="display:inline;")
                img(height="1", width="1", style="border-style:none;", alt="", src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/830904628/?guid=ON&script=0")

