doctype
html(lang=config.language)
    - data = site.data.header
    head
        include head
    body
        .wrap
            header
                .header-wrap
                    .logo-group
                        a.logo-link(href=url_for())
                            img(src=url_for(theme.logo) alt="logo")
                        span.conf-date November 3-5, 2017
                    .header-right
                        .navigation
                            include nav-main
                            include nav-sub
                            include nav-hidden
                        include socialbar
                        a.button.buy-tickets(href=data["register-link"]) Register
            block jumbotron
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts
