ul.nav.nav-sub.nav-list
    - var controls = site.data.module_controls;
    - var menuSub = site.data.navigation["menu_sub"];
    each value, key in menuSub
        li.nav-list-item
            - var re = /^(http|https):\/\/*/gi;
            - var isOutbound = re.test(value);
            - var tar = isOutbound ? "_blank" : "_self"
            - var act = !isOutbound && "/"+page.current_url === value
            if isOutbound
                a.nav-list-link(class={active: act} href=url_for(value) onclick="trackOutboundLink('"+url_for(value)+"')" target=tar)
                    != key
            else
                a.nav-list-link(class={active: act} href=url_for(value) target=tar)
                    != key
