ul.nav.nav-main.nav-list
    - var menuMain = site.data.navigation["menu_main"];
    each value, key in menuMain
        li.nav-list-item
            - var re = /^(http|https):\/\/*/gi;
            - var isOutbound = re.test(value);
            - var tar = isOutbound ? "_blank" : "_self"
            - var act = !isOutbound && "/"+page.current_url === value
            if isOutbound
                a.nav-list-link(class={active: act} href=url_for(value) onclick="trackOutboundLink('"+url_for(value)+"')" target=tar)
                    != key.toUpperCase()
            else
                a.nav-list-link(class={active: act} href=url_for(value) target=tar)
                    != key.toUpperCase()
