- var quotes = site.data.news
- var controls = site.data.module_controls

mixin news-card(name, img, description, link)
    a.news-card(href=link)
        .news-logo-wrap
            img.news-logo(src=img, alt=name)
        blockquote.news-quote
            != description

if controls["news"]
    .module.module-news
        h2.module-title#news
            != general["news-title"]
        .news
            each quote in quotes
                +news-card(quote["name"], quote["logo"], quote["description"], quote["link"])
