mixin news-card(name, img, description, link)
    .news-card
        .news-logo-wrap
            img.news-logo(src=img, alt=name)
        blockquote.news-quote
            a(href=link)
                != description

- var quotes = site.data.news
.module.module-news
    a.module-title(name="news")
        | On the News
    .news
        each quote in quotes
            +news-card(quote["name"], quote["logo"], quote["description"], quote["link"])
