mixin section(time, title, description)
    .section
        .section-time
            != time
        .section-title
            - if (time) {
                .section-time-mobile
                    != time
            - }
            != title
        .section-description
            != description

mixin dimsection(time, title, description)
    .section.dim
        .section-time
            != time
        .section-title
            != title
        .section-description
            != description

mixin subsection(title, description)
    .subsection
        .subsection-title
            != title
        .subsection-description
            != description

.module.module-schedule
    - var programs = site.data.programs;
    a.module-title(name="schedule")
        | Conference Program
    p.schedule-description
        != site.data.programs_text["conference-description"]
    // p.schedule-subdescription
    //     != site.data.programs_text["conference-subdescription"]
    .schedule
        - var m = programs.length;
        - for (day in programs) {
             - sections = programs[day];
             .heading-box
                 a.day-heading
                     != day
                 - if (day == "Day 1") {
                 span.day-date November 3, 2017
                 - } else {
                 span.day-date November 4, 2017
                 - }
             - n = sections.length;
             - for (var i = 0; i < n; i++) {
                   - var section = sections[i];
                   - if (!section["dim"]) {
                       + section(section["time"], section["title"], section["description"])
                   - } else {
                       + dimsection(section["time"], section["title"], section["description"])
                   - }
             - }
        - }
