- var general  = site.data.general;
- var schedule = site.data.schedule;
- var speakers = site.data.speakers;

mixin speaker(name, photo, position, company)
    .speaker
        img.photo(src=photo)
        span.name
            != name
        span.position
            != position
        span.company
            != company

mixin speech(speaker, title, description)
    if title
        .speech
            .speech-title
                span.speaker-name
                    != speaker
                | &nbsp;:&nbsp;
                != title
            .speech-description
                != description

mixin session(title, time, description, speeches, moderator)
    if (speeches || description)
        if (title.indexOf("Banquet") == -1)
            .session
                .left
                    .time
                        != time
                    .session-title
                        != title
                    if speeches
                        .speakers
                            - var sessionSpeaker = []
                            each speech in speeches
                                each speaker in speakers
                                    - if (speech["speaker"] == speaker["name"])
                                        - sessionSpeaker.push(speaker)
                            each speaker in sessionSpeaker
                                +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
                        if moderator
                            .moderator
                                .title
                                    | moderator:
                                each speaker in speakers
                                    - if (moderator == speaker["name"])
                                        +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
                .right
                    .session-title
                        != title
                    if description
                        .session-description
                            != description
                    if speeches
                        each speech in speeches
                            .speech
                                +speech(speech["speaker"], speech["title"], speech["description"])
        else
            .session.banquet
                .left
                    .time
                        != time
                    .session-title
                        != title
                    if speeches
                        .speakers
                            - var sessionSpeaker = []
                            each speech in speeches
                                each speaker in speakers
                                    - if (speech["speaker"] == speaker["name"])
                                        - sessionSpeaker.push(speaker)
                            each speaker in sessionSpeaker
                                +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
                    .banquet-images
                        img(src="/images/banquet-1.jpg", alt="banquet")
                        img(src="/images/banquet-2.jpg", alt="banquet")
                .right
                    .session-title
                        != title
                    if speeches
                        span.keynote-speech
                            | Keynote speech
                        each speech in speeches
                            .speech
                                +speech(speech["speaker"], speech["title"], speech["description"])
                    if description
                        .session-description
                            br
                            b Banquet and Networking
                            br
                            != description
    else
        .session.dim
            .left
                .time
                    != time
            .right
                .session-title
                    != title

.module.module-schedule
    a.module-title(name="schedule")
        != general["schedule-title"]
    p.schedule-description
        != general["schedule-intro"]
    .schedule
        .day-buttons
            - for (day in schedule) {
                - sessions = schedule[day];
                    span.day-button
                        != day
            - }
        - idx = 0
        - for (day in schedule) {
            - idx += 1
            - sessions = schedule[day];
            .day(id="day"+idx)
                .heading-box
                    a.day-heading
                        != day
                    if (day == "Day 1")
                        span.day-date November 3, 2017
                    if (day == "Day 2")
                        span.day-date November 4, 2017
                    if (day == "Day 3")
                        span.day-date November 5, 2017
                each session in sessions
                    +session(session["title"], session["time"], session["description"], session["speeches"], session["moderator"])
        - }
