- var general  = site.data.general
- var schedule = site.data.schedule
- var speakers = site.data.speakers
- var controls = site.data.module_controls

mixin speaker(name, photo, position, company)
    .speaker
        img.photo(src=photo)
        span.name
            != name
        span.position
            != position
        span.company
            != company

mixin speech(speaker, title, description)
    if title
        - var urlizedSpeaker = speaker.toLowerCase().split(' ').join('-')
        - var urlizedTitle = title.toLowerCase().split(' ').join('-')
        .speech(id=urilizedTitle)
            h3.speech-title
                span.speaker-name
                    != speaker
                | &nbsp;:&nbsp;
                span
                    != title
            .speech-description
                != description

mixin session(type, title, time, description, speeches, moderator, image, imageSize)
    if (speeches || description)
        if type == "banquet"
            .session.banquet
                .left
                    .time
                        != time
                    .session-title
                        != title
                    if speeches && general["schedule-show-speakers-photos"]
                        .speakers
                            - var sessionSpeaker = []
                            each speech in speeches
                                each speaker in speakers
                                    - if (speech["speaker"] == speaker["name"])
                                        - sessionSpeaker.push(speaker)
                            each speaker in sessionSpeaker
                                +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
                    .banquet-images
                        img(src="/images/banquet-1.jpg", alt="banquet")
                        // img(src="/images/banquet-2.jpg", alt="banquet")
                .right
                    .session-title
                        != title
                    if speeches
                        span.keynote-speech
                            | Keynote speech
                        each speech in speeches
                            .speech
                                +speech(speech["speaker"], speech["title"], speech["description"])
                    if description
                        .session-description
                            br
                            b Banquet and Networking
                            br
                            != description
        else
            .session
                .left
                    .time
                        != time
                    - var urlizedTitle = title.toLowerCase().split(' ').join('-')
                    .session-title
                        != title
                    if image
                        img.session-image(src=image style="height: "+imageSize+"px")
                    if speeches && general["schedule-show-speakers-photos"]
                        .speakers
                            - var sessionSpeaker = []
                            each speech in speeches
                                if !speech["hide"]
                                    each speaker in speakers
                                        - if (speech["speaker"] == speaker["name"])
                                            - sessionSpeaker.push(speaker)
                            each speaker in sessionSpeaker
                                +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
                        if moderator && general["schedule-show-speakers-photos"]
                            .moderator
                                .title
                                    | moderator:
                                each speaker in speakers
                                    - if (moderator == speaker["name"])
                                        +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
                .right
                    .session-title(id=urlizedTitle)
                        != title
                    if description
                        .session-description
                            != description
                    if speeches
                        each speech in speeches
                            .speech
                                +speech(speech["speaker"], speech["title"], speech["description"])
    else
        .session.dim
            .left
                .time
                    != time
            .right
                .session-title
                    != title

mixin schedule(conferenceKeyword, cityKeyword, stateKeyword)
    if controls["schedule"]
        .module.module-schedule
            h2.module-title#schedule
                != general["schedule-title"]
            p.schedule-description
                if conferenceKeyword
                    if stateKeyword == "CA"
                        != general["schedule-intro"].replace("%{conferenceKeyword}", conferenceKeyword).replace("%{cityKeyword}", cityKeyword)
                    else
                        != general["schedule-intro"].replace("%{conferenceKeyword}", conferenceKeyword).replace("near %{cityKeyword}", "recommended for " + cityKeyword + " AI practitioners")
                else
                    != general["schedule-intro"].replace("%{conferenceKeyword}", "AI conference").replace("near %{cityKeyword}", "at San Jose")
            a.schedule-summary-link(href="/schedule-summary") View Schedule Summary

            .schedule
                .day-buttons
                    - for (day in schedule) {
                        - var urlizedDay = day.toLowerCase().split(' ').join('')
                        - sessions = schedule[day];
                            a.day-button(href="#" + urlizedDay)
                                != day
                    - }
                - idx = 0
                - for (day in schedule) {
                    - idx += 1
                    - sessions = schedule[day];
                    .day
                        .heading-box
                            a.day-heading(id="day"+idx)
                                != day
                            if (day == "Day 1")
                                span.day-date November 9, 2018
                            if (day == "Day 2")
                                span.day-date November 10, 2018
                            if (day == "Day 3")
                                span.day-date November 11, 2018
                        each session in sessions
                            +session(session["type"], session["title"], session["time"], session["description"], session["speeches"], session["moderator"], session["image"], session["image-height"])
                - }
