- var schedule = site.data.schedule;
- var speakers = site.data.speakers;

mixin speaker(name, photo, position, company)
    .speaker
        img.photo(src=photo)
        span.name
            != name
        span.position
            != position
        span.company
            != company

mixin speech(speaker, title, description)
    - if (title) {
        .speech
            .speech-title
                b
                    != speaker
                | :&nbsp;
                != title
            .speech-description
                != description
    - }

mixin session(title, time, description, speeches)
    - if (speeches || description) {
    .session
        .left
            .time
                != time
            .session-title
                != title
            - if (speeches) {
                .speakers
                    - var sessionSpeaker = []
                    each speech in speeches
                        // get the speaker from the speaker database
                        each speaker in speakers
                            - if (speech["speaker"] == speaker["name"])
                                - sessionSpeaker.push(speaker)
                    each speaker in sessionSpeaker
                        +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
            - }
        .right
            .session-title
                != title
            - if (description) {
                .session-description
                    != description
            - }
            - if (speeches) {
                each speech in speeches
                    .speech
                        +speech(speech["speaker"], speech["title"], speech["description"])
            - }
    - } else {
        .session.dim
            .left
                .time
                    != time
            .right
                .session-title
                    != title
    - }

.module.module-schedule
    a.module-title(name="schedule")
        | Schedule
    p.schedule-description
        != site.data.programs_text["conference-description"]
    .schedule
        - for (day in schedule) {
            - sessions = schedule[day];
            .heading-box
                a.day-heading
                    != day
                - if (day == "Day 1") {
                span.day-date November 3, 2017
                - } else {
                span.day-date November 4, 2017
                - }
            each session in sessions
               +session(session["title"], session["time"], session["description"], session["speeches"])
        - }
