mixin section(title, description)
    .section
        .section-title
            != title
        .section-description
            != description

mixin subsection(title, description)
    .subsection
        .subsection-title
            != title
        .subsection-description
            != description

.module.module-schedule
    - var programs = site.data.programs;
    a.module-title(name="schedule")
        | Conference Program
    p.schedule-description
        - console.log(programs)
        != site.data.general["conference-description"]
    .schedule
        - var m = programs.length;
        - for (day in programs) {
             - sections = programs[day];
             h2.day-heading
                 != day
             - n = sections.length;
             - for (var i = 0; i < n; i++) {
                   - var section = sections[i];
                   + section(section["title"], section["description"])
             - }
        - }
