- var general  = site.data.general
- var schedule = site.data.schedule
- var scheduleSummary = site.data.schedule_summary
- var controls = site.data.module_controls

mixin scheduleSummary(conferenceKeyword, cityKeyword, stateKeyword)
    if controls["schedule"]
        .module.module-schedule-summary
            h2.module-title#schedule-summary
                | Schedule Summary
            p.schedule-description
                if conferenceKeyword
                    if stateKeyword == "CA"
                        != general["schedule-intro"].replace("%{conferenceKeyword}", conferenceKeyword).replace("%{cityKeyword}", cityKeyword)
                    else
                        != general["schedule-intro"].replace("%{conferenceKeyword}", conferenceKeyword).replace("near %{cityKeyword}", "recommended for " + cityKeyword + " AI practitioners")
                else
                    != general["schedule-intro"].replace("%{conferenceKeyword}", "AI conference").replace("near %{cityKeyword}", "at San Jose")
            .schedule-summary
                - for (day in scheduleSummary) {
                    .summary-day
                        - var urlizedDay = day.toLowerCase().split(' ').join('')
                        a.summary-day-heading(href='/schedule/#' + urlizedDay)
                            != day
                        .day-summary
                            - for (partOfDay of scheduleSummary[day]) {
                                h3.part-of-day-heading
                                    != partOfDay['part']
                                ul.day-summary-list
                                - for (session of partOfDay['sessions']) {
                                    li.day-summary-item
                                        a.day-summary-item-title(href=session['url'])
                                            != session['title']
                                - }
                            - }
                - }

            // a.button.register-button.button-effects(href="/schedule")
            //     | Full Schedule
        // - for (dayIdx in schedule) {
        //     - day = schedule[dayIdx]
        //     - for (session of day) {
        //         span 
        //             != "title: " + session['title']
        //         - var urlizedTitle = session['title'].toLowerCase().split(' ').join('-')
        //         span 
        //             != "url: https://aifrontiers.com/schedule/#" + urlizedTitle
        //     - }
        // - }
