- socials = site.data.socials

.social-bar
    a(href=socials["facebook"], alt="facebook")
        img(class="social-icons", src="/images/socials/facebook.png")
    a(href=socials["Twitter"], alt="Twitter")
        img(class="social-icons", src="/images/socials/twitter.png")
    a(href=socials["LinkedIn"], alt="LinkedIn")
        img(class="social-icons", src="/images/socials/linkedin.png")
    a(href=socials["YouTube"], alt="Youtube")
        img(class="social-icons", src="/images/socials/youtube.png")
