.social-bar
    a(href="https://www.linkedin.com/company/17898981", alt="LinkedIn")
        img(class="social-icons", src="/images/linkedin.png")
    a(href="https://www.facebook.com/aifrontiersconference/", alt="Facebook")
        img(class="social-icons", src="/images/facebook.png")
    a(href="https://twitter.com/AI_Frontiers", alt="Twitter")
        img(class="social-icons", src="/images/twitter.png")
