- general = site.data.general

.social-bar
    a(href=general["facebook"], alt="facebook")
        img(class="social-icons", src="/images/socials/facebook.svg")
    a(href=general["Twitter"], alt="Twitter")
        img(class="social-icons", src="/images/socials/twitter.svg")
    a(href=general["LinkedIn"], alt="LinkedIn")
        img(class="social-icons", src="/images/socials/linkedin.svg")
    a(href=general["YouTube"], alt="Youtube")
        img(class="social-icons", src="/images/socials/youtube.svg")
