-
    var speakers = site.data.speakers
    var schedule = site.data.schedule
    var speeches = []
    var dict = {}
    for (day in schedule) {
        for (i in schedule[day]) {
            if (schedule[day][i]["keynote"]) {
                speeches = speeches.concat({
                    "day": day,
                    "time": schedule[day][i]["time"],
                    "title": schedule[day][i]["title"],
                    "description": schedule[day][i]["description"],
                    "speaker": schedule[day][i]["speeches"][0]["speaker"]
                    });
            }
            else {
                if (schedule[day][i]["speeches"]) {
                    currSpeeches = schedule[day][i]["speeches"];
                    for (j in currSpeeches) {
                        currSpeeches[j]["day"] = day;
                        currSpeeches[j]["time"] = schedule[day][i]["time"];
                    }
                    speeches = speeches.concat(currSpeeches);
                }
            }
        }
    }
    for (idx in speeches) {
        speech = speeches[idx];
        if(speech["speaker"]) {
            if (dict[speech["speaker"]]) {
                dict[speech["speaker"]].push(speech);
            }
            else {
                dict[speech["speaker"]] = [];
                dict[speech["speaker"]].push(speech);
            }
        }
    }

mixin speaker(name, photo, position, company, bio)
    .speaker
        img.photo(src=photo)
        span.name
            != name
        span.position
            != position
        span.company
            != company
        .details
            span.close-button
                | ⨉
            .wrap
                img.photo(src=photo)
                span.name
                    != name
                span.position
                    != position
                span.company
                    != company
                .sessions
                    if dict[name]
                        each session in dict[name]
                            if session["title"]
                                .session
                                    span.day
                                        != session["day"]
                                    span.time
                                        != session["time"]
                                    span.title
                                        != session["title"]
                                    span.description
                                        != session["description"]
                if bio
                    .bio
                        span.title
                            | Speaker Bio
                        span.content
                            != bio

.module.module-speakers#speakers
    h1.module-title(name="speakers")
        != general["speakers-title"]
    .speakers
        each speaker in speakers
            if (!speaker["hidden"] && !speaker["moderator"] && !speaker["previous"])
                +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"], speaker["bio"])
        +speaker("","/images/speakers/more-to-come.jpg","","", "")
    a.moderator-title
        != general["moderators-title"]
    .moderators
        each speaker in speakers
            if (!speaker["hidden"] && speaker["moderator"] && !speaker["previous"])
                +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"], speaker["bio"])
