mixin speaker-card(name, photo, position, company)
    .speaker-card
        img.speaker-photo(src=photo)
        span.speaker-name
            != name
        span.speaker-position
            != position
        span.speaker-company
            != company

.module.module-speakers
    a.module-title(name="speakers")
        | Speakers
    .speakers
        - var speakers = site.data.speakers;
        - var m = speakers.length;
        - for (var i = 0; i < m; i++) {
            - speaker = site.data.speakers[i]
            +speaker-card(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
        - }
        +speaker-card("","/images/speakers/more-to-come.jpg","","")
