mixin speaker-card(photo, name, position, company)
    .speaker-card
        img.speaker-photo(src=photo)
        span.speaker-name
            != name
        span.speaker-position
            != position
        span.speaker-company
            != company

.module.module-speakers
    a.module-title(name="speakers")
        | Speakers
    .speakers
        +speaker-card("/images/speakers/feifei-li.jpg", "Feifei Li", "Chief Scientist of AI/ML", "Google Cloud")
        +speaker-card("/images/speakers/yuandong-tian.jpg", "Yuandong Tian", "Research scientist", "Facebook")
        +speaker-card("/images/speakers/lukasz-kaiser.jpg", "Lukasz Kaiser", "Sr. Research Scientist", "Google")
        +speaker-card("/images/speakers/lihong-li.jpg", "Lihong Li", "Principal Researcher", "Microsoft Research")
        +speaker-card("/images/speakers/michael-bowling.png", "Michael Bowling", "Professor", "University of Alberta")
