- var speakers = site.data.speakers

mixin speaker(name, photo, position, company)
    .speaker
        img.photo(src=photo)
        span.name
            != name
        span.position
            != position
        span.company
            != company

.module.module-speakers
    a.module-title(name="speakers")
        | Speakers
    .speakers
        each speaker in speakers
            if (!speaker["hidden"] && !speaker["moderator"])
                +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
    a.module-title(name="speakers")
        | Moderators
    .moderators
        each speaker in speakers
            if (!speaker["hidden"] && speaker["moderator"])
                +speaker(speaker["name"],speaker["photo"],speaker["position"],speaker["company"])
        // +speaker("","/images/speakers/more-to-come.jpg","","")
