mixin sponsor-card(name, img, height, offset)
    - height = height ? height : 40;
    - offset = offset ? offset : 0;
    img.spnr-logo(src=img, alt=name, style="height: " + height + "px; top: " + offset + "px;")

.module.module-spnrs
    a.module-title(name="spnrs")
        | Sponsors
    span.last-years-spnrs
        | Last Year's sponsors
    .spnrs
        -
            var spnrs = site.data.sponsors
            var m = spnrs.length
        each spnr in spnrs
            +sponsor-card(spnr["name"], spnr["logo"], spnr["height"], spnr["offset"])
    a.button.spnrship-letter(href="sponsor-us")
        | Be Our sponsor
