mixin sponsor-card(logo)
    img.sponsor-logo(src=logo)

.module.module-sponsors
    a.module-title(name="sponsors")
        | Sponsors
    a.sponsorship-letter(href="sponsor-us")
        | Be Our Sponsor
    .sponsors
