mixin sponsor-card(logo)
    img.sponsor-logo(src=logo)

.module.module-sponsors
    h2.module-title
        | Sponsors
    a.sponsorship-letter(href="sponsor-us")
        | Be Our Sponsor
    .sponsors
