mixin sponsor-card(name, img, height, offset)
    - height = height ? height : 40;
    - offset = offset ? offset : 0;
    img.spnr-logo(src=img, alt=name, style="height: " + height + "px; top: " + offset + "px;")

-
    var diamond   = site.data.sponsors["diamond"]
    var platinum  = site.data.sponsors["platinum"]
    var gold      = site.data.sponsors["gold"]
    var media     = site.data.sponsors["media partner"]
    var knowledge = site.data.sponsors["knowledge partner"]
.module.module-spnrs
    a.module-title(name="spnrs")
        | Sponsors
    // span.last-years-spnrs
    //     | Last Year's Sponsors
    // .spnrs
    //     each spnr in lastSpnrs
    //         +sponsor-card(spnr["name"], spnr["logo"], spnr["height"], spnr["offset"])
    if diamond
        span.level
            | Diamond
        .spnrs
            each spnr in diamond
                +sponsor-card(spnr["name"], spnr["logo"], spnr["height"], spnr["offset"])
    if platinum
        span.level
            | Platinum
        .spnrs
            each spnr in platinum
                +sponsor-card(spnr["name"], spnr["logo"], spnr["height"], spnr["offset"])
    if gold
        span.level
            | Gold
        .spnrs
            each spnr in gold
                +sponsor-card(spnr["name"], spnr["logo"], spnr["height"], spnr["offset"])
    if knowledge
        span.level
            | Knowledge Partner
        .spnrs
            each spnr in knowledge
                +sponsor-card(spnr["name"], spnr["logo"], spnr["height"], spnr["offset"])
    if media
        span.level
            | Media Partner
        .spnrs
            each spnr in media
                +sponsor-card(spnr["name"], spnr["logo"], spnr["height"], spnr["offset"])
    a.button.spnrship-letter(href="sponsor-us")
        | Be Our sponsor
