mixin topic-card(title, image, description)
    .topic-card
        img.topic-image(src=image)
        span.topic-title
            != title
        span.topic-description
            != description

.module.module-topics
    a.module-title(name="topics")
        | Our Topics
    .topics
        - for (num in site.data.topics) {
        - item = site.data.topics[num]
            +topic-card(item["title"],item["image"],item["description"])
        - }
