- var general = site.data.general
- var controls = site.data.module_controls

mixin topic-card(title, image, description)
    - var urlizedTitle = title.toLowerCase().split(' ').join('-')
    .topic-card(href="#" + urlizedTitle)
        .topic-image-wrapper
            img.topic-image(src=image alt=title)
            .topic-image-mask
            h3.topic-title
                != title
        span.topic-description
            != description

if controls["topics"]
    .module.module-topics
        h2.module-title#topics
            != general["topics-title"]
        .topics
            - for (num in site.data.topics) {
            - item = site.data.topics[num]
                +topic-card(item["title"],item["image"],item["description"])
            - }
