- var venue = site.data.venue
- var hotel = site.data.hotel
.module.module-venue
    a.module-title(name="venue",style="visibility: hidden;")
    .wrapper
        .map-wrapper
            iframe(src=hotel["google-map-embed-url"],width="600",height="300",frameborder="0",style="border:0",allowfullscreen)
        .venue
            .venue-mask
            .conf-info
                .venue-date
                    span.date-content.content NOV 9-11, 2018
            .venue-info
                span.venue-name
                    != venue["name"]
                span.venue-address
                    != venue["address-first-line"]
                    br
                    != venue["address-second-line"]
            - data = site.data.header
            a.button.register-button(href=data["register-link"]) register
    .hotel
        .left
            span.suggested-hotel
                | Partner Hotel
            .hotel-name
                != hotel["name"]
            .hotel-address
                span.hotel-address-first-line
                != hotel["address-first-line"] + ", "
                span.hotel-address-first-line
                != hotel["address-second-line"]
        .right
            a.button(href=hotel["book-link"])
                != hotel["book-button-text"]