.module.module-venue
    - var data = site.data.venue_text
    a.module-title(name="venue",style="visibility: hidden")
    .wrapper
        .map-wrapper
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10824.203729267343!2d-121.98200764625666!3d37.40720609943272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc9c94dfa50b9%3A0xc1ebf7e60770d2e4!2sSanta+Clara+Convention+Center!5e0!3m2!1sen!2sus!4v1501180252927",width="600",height="300",frameborder="0",style="border:0",allowfullscreen)
        .venue
            .venue-mask
            .conf-info
                .venue-date
                    span.date-content.content NOV 3-4, 2017
                // .venue-time
                //     span.time-content.content 8:30am - 8:30pm
            .venue-info
                span.venue-name
                    != data["venue-name"]
                span.venue-address
                    != data["address-first-line"]
                    br
                    != data["address-second-line"]
            - data = site.data.header
            a.button.register-button(href=data["register-link"]) register
