.module.module-venue
    - var data = site.data.venue_text
    a.module-title(name="venue")
        | Venue
    .venue
        .venue-info
            img.venue-photo(src="/images/santa-clara-convention-center.webp")
            span.venue-name
                != data["venue-name"]
                span.venue-address
                    != data["address-first-line"]
                    br
                    != data["address-second-line"]
        .conf-info
            .venue-date
                img.date-image.image(src="/images/date.png")
                span.date-title.title Date:
                span.date-content.content NOV 3-4, 2017
            .venue-time
                img.time-image.image(src="/images/time.png")
                span.time-title.title Time:
                span.time-content.content 8:30am - 8:30pm
            span.register-button Buy Tickets
