include mailChimp

.jumbotron
    .jumbotron-wrap
        span.conf-title
            span.conf-name AI Frontiers
            br
            | conference
        span.conf-theme
            != "Theme: " + theme.conf_theme
        span.conf-info
            != theme.conf_date + " | " + theme.conf_venue
        span.register-button Register

mixin videos()
    div.intro-video
        span.video-heading
            | Video From Last AI Frontiers Conference
        iframe(src="https://www.youtube.com/embed/glg5pJs_g3E?ecver=2",width="533",height="300",frameborder="0",allowfullscreen)

mixin subscribe()
    div.subscribe
        .subscribe-wrap
            span.quote.unselectable
                | #{theme.quote}
            +mailChimp()
