include mailChimp
include countdown

.jumbotron
    - var data = site.data.header;
    #fgPlayer(style="display: none")
    .jumbotron-wrap
        img.conf-logo(src="/images/logo-horizontal-white.png")
        span.conf-title
            span.conf-name AI Frontiers
            span.conf-nd
                | Conference
        //     br
        //     | conference
        span.conf-theme
            span.applied Applied
            span.deep-learning-and  Deep Learning
            // span.reinforcement-learning  Reinforcement Learning
        span.conf-info
            span.conf-date
                != data["date"]
            span.sep
                != ", "
            span.conf-location
                != data["location"]
        .buttons
            a.button.register-button(href=data["register-link"], alt="Register") Register
            a.button.video-button.desktop(alt="Last Edition Video", rel="modal:open", href="#fgPlayer") Hightlight Video
            a.button.video-button.mobile(alt="Last Edition Video", href="http://m.youtube.com/watch?v=WiD_uWWfqaw?autoplay=1&playsinline") Hightlight Video

        // .speakers-bar
        //     - var speakers = site.data.speakers;
        //     - var m = speakers.length;
        //     - for (var i = 0; i < m; i++) {
        //         - speaker = site.data.speakers[i]
        //         img.speaker-photo(src=speaker["photo"])
        //     - }
    .bg-video
        #bgPlayer

mixin videos()
    div.intro-video
        span.video-heading
            != data["intro-video-title"]
        iframe(src="https://www.youtube.com/embed/WiD_uWWfqaw?ecver=2",width="408",height="240",frameborder="0",allowfullscreen)

mixin subscribe()
    div.subscribe
        .subscribe-wrap
            span.quote.unselectable
                | #{theme.quote}
            +mailChimp()
