include mailChimp
include countdown

.jumbotron
    - var data = site.data.header;
    #fgPlayer(style="display: none")
    .jumbotron-wrap
        img.conf-logo(src="/images/logo-horizontal-white.png")
        span.conf-title
            | 2nd Conference
        //     br
        //     | conference
        span.conf-theme
            != data["theme"]
        span.conf-info
            span.conf-date
                != data["date"]
            span.sep
                != " | "
            span.conf-location
                != data["location"]
        .buttons
            a.button.register-button(href="https://www.eventbrite.com/", alt="Register") Register
            a.button.video-button(alt="Last Edition Video", rel="modal:open", href="#fgPlayer") Play Video
    .bg-video
        #bgPlayer

mixin videos()
    div.intro-video
        span.video-heading
            != data["intro-video-title"]
        iframe(src="https://www.youtube.com/embed/WiD_uWWfqaw?ecver=2",width="408",height="240",frameborder="0",allowfullscreen)

mixin subscribe()
    div.subscribe
        .subscribe-wrap
            span.quote.unselectable
                | #{theme.quote}
            +mailChimp()
