include mailChimp
include countdown

.jumbotron
    - var data = site.data.header;
    .jumbotron-wrap
        span.conf-title
            span.conf-name AI Frontiers
            br
            | conference
        span.conf-theme
            != "Theme: " + data["theme"]
        span.conf-info
            span.conf-date
                != data["date"]
            span.sep
                != " | "
            span.conf-location
                != data["location"]
        // +countdown()
        a.register-button(href="https://www.eventbrite.com/", alt="Register") Register

mixin videos()
    div.intro-video
        span.video-heading
            != data["intro-video-title"]
        iframe(src="https://www.youtube.com/embed/WiD_uWWfqaw?ecver=2",width="408",height="240",frameborder="0",allowfullscreen)

mixin subscribe()
    div.subscribe
        .subscribe-wrap
            span.quote.unselectable
                | #{theme.quote}
            +mailChimp()
