mixin posts()
    ul.post-list.container-left
        - site.posts.data = site.posts.data.sort(function(a, b){return new Date(b.date) - new Date(a.date);})
        - site.posts.each(function (item) {
            - pass = false
            if page.tag
                for tag in item.tags.data
                    if (tag.name == page.tag)
                        - pass = true
            else
                - pass = true

            if pass
                li.post-list-item
                    article.post-block
                        .post-info
                            != full_date(item.date, 'll')
                        h2.post-title
                            a.post-title-link(href= url_for(item.path))
                                != item.title
                        if item.feature
                            if item.feature.substring(0,8).toLowerCase() == "youtube:"
                                a.post-feature
                                    iframe(src="//www.youtube.com/embed/"+ item.feature.substring(8),frameborder="0",allowfullscreen="")
                            else
                                a.post-feature(href= url_for(item.path))
                                    img(src=item.feature)
                        .post-content
                            != item.content
                        //a.read-more(href= url_for(item.path))!= __('more')
                        if item.tags.data.length != 0
                            .post-tags
                                span.post-tags-label
                                    | Tags:&nbsp
                                ul.post-tags-list
                                    for tag in item.tags.data
                                        li.post-tag
                                            a(href="/tags/"+tag.name.replace(/\s+/g, '-'))
                                                != tag.name
        - })

//- Post Page
mixin post(item)
    article.post
        article.post-block
            .post-info
                != full_date(item.date, 'll')
            h1.post-title
                != item.title
            if item.feature
                if item.feature.substring(0,8).toLowerCase() == "youtube/"
                    .post-feature
                        iframe(src="//www.youtube.com/embed/"+ item.feature.substring(8),frameborder="0",allowfullscreen="")
                else
                    .post-feature
                        img(src=item.feature)
            .post-content
                != item.content
