.module-about {
    min-width: 780px;
    margin: auto;
    padding: 40px 0;
    background-color: #101423;
    color: white;
    .about {
        width: 780px;
        margin: auto;
    }
    .module-title {
        width: 780px;
        margin: auto;
        margin-bottom: 20px;
        color: white;
    }
    .about-description {
        font-size: 13px;
    }
    .heading {
        font-family: $serif;
        margin: auto;
        margin-bottom: 10px;
        margin-left: 45px;
        color: white;
        font-size: 24px;
    }
    .organizers {
        margin-left: 45px;
        font-size: 13px;
        line-height: 16px;
        .name {
            color: #E0E0E0;
        }
        .indent {
            display: block;
            margin-left: 20px;
        }
    }
    .organizer-description {
        font-size: 13px;
        a {
            color: white;
            text-decoration: underline;
        }
    }
}
