.module-about {
    min-width: 1250px;
    margin: auto;
    padding: 40px 0;
    .about {
        width: 780px;
        margin: auto;
    }
    .module-title {
        width: 780px;
        margin: auto;
        margin-bottom: 20px;
        color: #0070E8;
    }
    .about-description {
        font-size: 16px;
        color: #083365;
        letter-spacing: 0;
        line-height: 27px;
        text-align: center;
    }
    .heading {
        color: #083365;
        margin: auto;
        margin-bottom: 10px;
        font-size: 18px;
        letter-spacing: 0;
        font-weight: 500;
    }
    .wrapper {
        width: 250px;
        margin: auto;
    }
    .organizers {
        color: #083365;
        letter-spacing: 0;
        line-height: 24px;
        font-size: 14px;
        .indent {
            display: block;
            margin-left: 20px;
        }
    }
    .organizer-description {
        font-size: 14px;
        color: #083365;
        letter-spacing: 0;
        line-height: 24px;
        font-size: 14px;
        a {
            text-decoration: underline;
        }
    }
}
