::selection {
    color: #FFFFFF;
    background-color: $c1;
}

.unselectable {
    user-select: none;
    pointer-events: none;
    cursor: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: #333;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.wrap {
    width: 100%;
}

ul.nav {
    list-style-type: none;
}

ul.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

hr {
    border: 0;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #e96900;
    border-radius: 2px;
    white-space: inherit;
}

iframe, video {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    width: 100%;
    margin: 1em auto;
    thead {
        background-color: #ddd;
        th {
            padding: 5px;
            min-width: 20px;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: #eee;
        }
        td {
            padding: 5px;
            vertical-align: text-top;
        }
    }
}

.container {
    position: relative;
    display: flex;
    border-bottom: #EEE 1px solid;
}

.button {
    display: block;
    padding: 12px 18px 8px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.jquery-modal.blocker {
    z-index: 999999;
    background-color: rgba(0,0,0,0.85);
}
#fg-player {
    iframe {
        margin: 0!important;
        height: 500px!important;
    }
}
iframe {
    margin: 0!important;
}

.modal {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    height: 500px!important;
    max-width: 880px;
}

.button-effects {
  transition: all .15s ease;
  box-shadow: var(--button-shadow);
  &:hover {
    box-shadow: var(--button-shadow--hover);
    transform: translateY(-1px);
  }
  &:active {
    transition: none;
    transform: translateY(0);
  }
}

.module-title {
  position: relative;
  z-index: 0;
  padding-top: calc( var(--header-height) + 15px);
  margin-top: calc( -1 * var(--header-height));
}

.session-title {
  padding-top: calc( var(--header-height));
  margin-top: calc( -1 * var(--header-height));
}

.day-heading {
    display: block;
    padding-top: calc( var(--header-height) + 15px);
    margin-top: calc( -1 * var(--header-height) - 15px);
}

