footer {
    padding-bottom: 20px;
    width: 100%;
    margin-top: 20px;
    .social-bar {
        margin: auto;
        margin-bottom: 20px;
        width: 170px!important;
        padding: 0 15px!important;
        a, img {
            width: 34px!important;
            height: 34px!important;
        }
    }
    .copyright {
        margin: auto;
        text-align: center;
        p, a {
            font-size: 14px;
            color: #000;
            margin: 0;
        }
        a:hover {
            color: #888;
        }
    }
}
