.countdown {
    display: block;
    height: 40px;
    padding-top: 10px;
    .font-size {
        font-weight: 800;
    }
    .emphasis {
        background: lightgray;
        padding: 0 2px;
        font-size: 14px;
    }
    // #sec, .labels li:nth-child(3){
    //     display: none;
    // }
    // #minute:after {
    //     content: none;
    // }

    ////
    // Countdown Plugin Specific styles
    ////

    //less variables
    $counter-bg: transparent;
    $label-bg: transparent;

    .counter {
        font-size: 32px; /* <<<<adjust this value to change the size of the counter*/
        width: 10em;
        height: 3em;
        left: 0;
        right: 0; // this is used to center the coutner, in a real application it would be positioned as need
        position: absolute;
        font-family: $Avenir-Next;
        text-align: center;
        margin: 0 auto;
        background: $counter-bg;

        > ul {
            display: inline-block;
            color: #000;
            text-shadow: 0 2px 2px rgba(0,0,0,.5);
            font-weight: 500;

            &:after {
                content: ":";
                color: #fff;
                margin: 0 .5em;
            }

            &:last-of-type:after {
                content: "";
                margin: 0;
            }

            li {
                line-height: 1em;
                display: inline-block;
                background: $label-bg;
                color: white;
                padding-top: .15em;
                padding-bottom: .15em;
                border-radius: 6px;
                &:first-child {
                    padding-right: 0;
                }
            }
        }
        .labels {
            text-shadow: 0 2px 2px rgba(0,0,0,.5);
            li {
                list-style-type: none!important;
                width: 25%;
                float: left;
                line-height: .2em;
                font-size: .4em;
                text-align: center;
                color: white;
                background: $counter-bg;
                padding-bottom: .75em;
            }
        }
    }
}
