.countdown {
    .font-size {
        font-weight: 800;
    }
    .emphasis {
        background: lightgray;
        padding: 0 2px;
        font-size: 14px;
    }
    // #sec, .labels li:nth-child(3){
    //     display: none;
    // }
    // #minute:after {
    //     content: none;
    // }

    ////
    // Countdown Plugin Specific styles
    ////

    //less variables
    $counter-bg: transparent;

    .counter {
        font-size: 32px; /* <<<<adjust this value to change the size of the counter*/
        width: 10em;
        height: 2em;
        left: 0;
        right: 0; // this is used to center the coutner, in a real application it would be positioned as need
        position: absolute;
        font-family: arial, helvetica, sans-serif;
        text-align: center;
        line-height: 2em;
        margin: 0 auto;
        background: $counter-bg;

        > ul {
            display: inline-block;
            color: #000;

            &:after {
                content: ":";
                color: #fff;
                margin: 0 .1em;
            }

            &:last-of-type:after {
                content: "";
                margin: 0;
            }

            li {
                line-height: 1em;
                display: inline-block;
                background: #F79405;
                color: white;
                padding: .15em;
                border-radius: 6px;
                &:first-child{
                    margin-right:.1em;
                }
            }
        }
        .labels {
            padding-left: .6em;
            li {
                list-style-type: none!important;
                width: 25%;
                float: left;
                line-height: .2em;
                font-size: .4em;
                text-align: center;
                color: white;
                background: $counter-bg;
                padding-bottom: .75em;
            }
        }
    }
}
