.countdown {
    position: relative;
    z-index: 7;
    color: white;
    font-family: monospace;
    margin-top: 30px;
    font-family: "Tungsten";
    .counter {
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        align-items: flex-start;
        font-size: 38px;
        .segment {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          .digits {
            line-height: 1;
            display: flex;
            padding: 8px 7px 5px;
            border-radius: 4px;
            background-color: #0171E7;
            flex-flow: row nowrap;
            span {
              display: inline-block;
              // text-shadow: rgba(0,0,0,0.4) 0px 4px 3px;
              font-weight: 500;
              width: 13px;
              // background-color: #0171E7;
              // text-align: center;
              // padding: 3px 2px;
              // margin: 0 2px;
              // border-radius: 3px;
              // box-shadow: rgba(0,0,0,0.4) 0px 4px 3px;
            }
          }
          .label {
            font-size: 26px;
            text-transform: capitalize;
            text-shadow: rgba(0,0,0,0.6) 0px 4px 3px;
            color: white;
          }
        }
        .colon {
          line-height: .85;
          margin-left: 5px;
          margin-right: 5px;
          padding: 8px 0;
        }
        .colon:last-of-type {
          display: none;
        }
    }
  }
