@media (max-width: 900px) and (min-width: #{$mobile-width}) {
    header .social-bar {
        display: none;
    }
}
header {
    min-width: 860px;
    height: 48px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-wrap {
    box-sizing: border-box;
    margin: auto;
    min-width: 100%;
    position: relative;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    .header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .logo-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .logo-link {
        img {
            width: 160px;
        }
    }
    .conf-date {
        font-size: 14px;
        color: #494A5E;
        width: 150px;
        padding-top: 10px;
        padding-left: 17px;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ul.nav {
        display: block;
        flex-direction: row;
        box-sizing: border-box;
        margin: 0;
        li {
            display: inline-block;
        }
        a.nav-list-link {
            font-size: 13px;
            color: #494A5E;
            font-weight: bold;
        }
    }
    ul.nav-sub {
        a.nav-list-link {
            padding: 5px 12px;
            opacity: 0.38;
        }
    }
    ul.nav-main {
        a.nav-list-link {
            padding: 5px 12px;
        }
    }
}

.slicknav_menu {
    display: none;
}

.social-bar {
    padding: 0 10px;
}

.buy-tickets {
    color: #FFFFFF;
    width: 113px;
    height: 20px;
    background: #0070E8;
    padding: 9px 18px 11px;
    margin-left: 10px;
}
