header {
    width: 1250px;
    height: 60px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-wrap {
    box-sizing: border-box;
    margin: auto;
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo-link {
        img {
            width: 160px;
        }
    }
    .conf-date {
        font-size: 14px;
        color: #494A5E;
        align-self: flex-end;
        padding-bottom: 8px;
        padding-left: 17px;
    }
}

.navigation {
    width: 640px;
    ul.nav {
        display: block;
        flex-direction: row;
        box-sizing: border-box;
        float: right;
        margin: 0;
        li {
            display: inline-block;
        }
        a.nav-list-link {
            font-size: 14px;
            color: #494A5E;
            font-weight: bold;
        }
    }
    ul.nav-sub {
        a.nav-list-link {
            padding: 5px 12px;
            opacity: 0.38;
        }
    }
    ul.nav-main {
        a.nav-list-link {
            padding: 5px 12px;
        }
    }
}

.slicknav_menu {
    display: none;
}

.buy-tickets {
    color: #FFFFFF;
    width: 113px;
    height: 20px;
    background: #0070E8;
}
