.jumbotron {
    display: flex;
    box-sizing: border-box;
    background: $c02;
    background-image: url("/images/jumbotron-bg.jpg");
    background-size: 100% auto;
    height: 550px;
    width: 100%;
    min-width: 980px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        color: white;

    }
    .conf-title {
        color: #F79405;
        text-transform: uppercase;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 38px;
        font-weight: 600;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        .conf-name {
            color: #F79405;
            font-size: 55px;
        }
    }
    .conf-theme {
        color: #F7B205;
        font-size: 28px;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 600;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    }
    .conf-info {
        font-size: 20px;
        font-family: "baskerville", "Times New Roman", serif;
        margin-top: 75px;
        letter-spacing: 1.2px;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    }
}

// Videos
.videos {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;

    .videos-heading {
        color: #F2F2F2;
        font-family: "Roboto Condensed";
        text-transform: uppercase;
    }

    .slider {
    }
}
// Slider
.slider {
    outline: 0;
    width: 60%;
    iframe {
        border: rgba(256,256,256, .1) 5px solid;
    }
    .slide {
        outline: 0;
        display: flex;
        flex-direction: row;
    }
    .slick-prev {
        margin-left: 40px;
    }
    .slick-next {
        margin-right: 40px;
    }
    .slick-prev,
    .slick-next {
        z-index:999!important;
    }
    .slick-prev:before,
    .slick-next:before {
        color:white!important;
    }
}

// subscribe
.subscribe {
    width: 100%;
    background: $c02;
    opacity: .8;
}
.subscribe-wrap {
    align-items: center;
    span.quote {
        display: block;
        font-family: "Roboto Condensed";
        color: white;
    }
    form.subscribe-form {
        display: flex;
        flex-direction: row;
        input {
            outline: 0;
        }
        input.email {
            background: $c11;
            box-sizing: border-box;
            border-radius: 0!important;
            padding: 0 15px;
            width: 100%;
            transition: all .2s ease-out;
            border: 0;
            color: white;
            &::placeholder {
                color: rgba(255,255,255,.8);
            }
            &:focus {
                background: white;
                color: #555;
                &::placeholder {
                    color: #ECECEC;
                }
            }
        }
        input.button {
            height: 40px;
            border-radius: 0!important;
            font-family: "Roboto Condensed";
            box-sizing: border-box;
            padding: 4px 12px;
            border: 0;
            color: white;
            background: $c1;
        }
    }
}
