.jumbotron {
    box-sizing: border-box;
    background: $c02;
    width: 100%;
    background-image: url("/images/jumbotron-bg.jpg");
    background-size: 100% auto;
    background-position-y: bottom;
    background-position-x: center;
    height: 350px;
    min-width: 980px;
    .jumbotron-wrap {
        width: 100%;
        min-width: 980px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform-origin: top center;
        transform: scale(.8);
    }
    .conf-logo {
        margin: auto;
        margin-top: 20px;
        height: 140px;
    }
    .conf-title {
        color: #F79405;
        text-transform: uppercase;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 38px;
        font-weight: 600;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        .conf-name {
            color: #F79405;
            font-size: 55px;
        }
    }
    .conf-theme {
        color: #11588D;
        font-size: 26px;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 500;
        margin-top: 40px;
        // text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    }
    .conf-info {
        font-size: 20px;
        font-family: $serif;
        margin-top: 10px;
        color: #11588D;
        // text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        * {
            display: inline;
        }
    }
    .register-button {
        background-color: #D23100;
        margin-top: 40px;
        padding: 5px 0;
    }
}

.intro-video {
    width: 980px;
    margin: auto;
    .video-heading {
        display: block;
        font-weight: bold;
        width: 980px;
        margin: auto;
        margin-top: 25px;
        font-size: 20px;
        text-align: center;
    }
}
