$mobile-width: 600px;
.mobile-only {
  display: none!important;
}
.desktop-only {
  display: block!important;
}
@media (max-width: $mobile-width) {
  .mobile-only {
    display: block!important;
  }
  .desktop-only {
    display: none!important;
  }
    // width reset
    .jumbotron,
    .jumbotron-fg,
    .intro-video,
    .video-heading,
    .intro-video iframe,
    .container,
    .module,
    .speakers,
    .moderators,
    .programs-description,
    .programs-subdescription,
    .programs,
    .schedule-description,
    .schedule-subdescription,
    .schedule,
    .venue,
    .about,
    .contact,
    .contact form,
    footer,
    .paginator,
    .copyright {
        width: 100%!important;
        min-width: 0!important;
        padding: 0!important;
    }
    .module {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
        .module-title {
            font-size: 30px!important;
        }
    }

    .jumbotron {
        height: 400px;
        overflow: hidden;
        .countdown {
            padding-top: 5px;
            .counter {
                font-size: 27px; /* <<<<adjust this value to change the size of the counter*/
            }
        }
        .jumbotron-fg {
            transform: none;
        }
        .conf-slogan {
            font-size: 30px!important;
            line-height: 40px!important;
            font-weight: 500;
            font-family: "Avenir next";
            margin-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            letter-spacing: -.5px;
        }
        .conf-logo {
            display: none;
        }
        .conf-title {
            .conf-name {
                display: none;
            //     text-transform: uppercase;
            //     font-size: 40px;
            //     line-height: 40px;
            //     font-weight: 700;
            //     text-shadow: 0 2.4px 36px rgba(6,172,255,.5), 0 2.4px 2.4px rgba(0,0,0,1);
            //     .conf-nd {
            //         display: block;
            //         font-size: 30px;
            //         font-weight: 400;
            //     }
            }
        }
        .conf-theme {
            font-weight: 600;
            width: 100%;
            margin-top: 0px!important;
            font-size: 20px;
            line-height: 31px;
            padding-top: 5px;
       }
        .conf-info {
            display: none;
            font-size: 17px;
            font-weight: 500;
            span {
                display: inline;
            }
            .sep {
                display: none;
            }
        }
        .buttons {
            display: flex;
            width: 80%;
            .button {
                font-size: 14px;
                width: 49%;
                letter-spacing: 0;
            }
        }
        .bg-video {
            margin-top: 0!important;
            background-position-y: top;
            background-size: auto 115%;
            margin-left: 0;
            left: 0;
            background-position-x: -50% !important;
            margin-top: 0!important;
            width: 100%;
            overflow: hidden;
            height: 100%!important;
        }
        #bgPlayer {
            display: none;
        }

        .speakers-bar {
          height: 10vw!important;
          transform: none;
          left: 0;

          .speaker-photo {
            height: 10vw!important;
            width: 10vw!important;
          }
        }
    }


    .module-topics {
        .module-title {
        }
        .topics {
            padding: 10px 0;
            padding-bottom: 0;
            margin-bottom: 10px;
        }
        .topic-card {
            width: 320px;
            height: auto;
            margin:auto;
            margin-bottom: 24px;
            .topic-image-wrapper {
                width: 320px;
                height: 213px;
            }
            .topic-title {
                margin-bottom: 3px;
            }
            .topic-description {
                margin-top: 14px;
                text-align: left;
                font-size: 17px;
                line-height: 24px;
            }
        }
    }

    .module-speakers {
        .module-title {
        }
        .speakers, .moderators {
            justify-content: center;
        }
        .speaker {
            margin: 20px 10px 15px;
            height: auto;
            width: 255px;
            .photo {
                width: 220px;
                height: 220px;
                margin-bottom: 2px;
            }
            .name {
            }
            .name,
            .position,
            .company,
            .intro {
                font-size: 18px!important;
                line-height: 22px!important;
            }
            .details {
                img.photo {
                    width: 130px;
                    height: 130px;
                    margin-bottom: 10px;
                }
                .wrap {
                    .name, .position, .company {
                        font-size: 15px!important;
                        line-height: 15px!important;
                        br {
                            display: none;
                        }
                    }
                    .bio .content {
                        font-size: 12px!important;
                        padding: 8px 0!important;
                        line-height: 20px!important;
                    }
                    .sessions {
                        .title {
                            font-size: 16px!important;
                            line-height: 20px!important;
                            padding: 0;
                        }
                        .description {
                            font-size: 12px!important;
                            padding: 8px 0!important;
                            line-height: 20px!important;
                        }
                    }
                }
            }
        }
    }

    .module-programs {
        margin-top: 20px;
        .module-title {
        }
        box-sizing: border-box;
        .session-time {
            margin-bottom: 0!important;
            display: none!important;
        }
        .session-title {
            box-sizing: border-box;
            font-size: 20px;
            padding: 0 20px!important;
            br {
                display: none;
            }
            .session-time-mobile {
                display: inline;
                font-size: 18px;
                padding-right: 15px;
            }
        }
        .programs-description {
            box-sizing: border-box;
            padding: 0 20px!important;
            margin-bottom: 8px;
        }
        .programs-subdescription {
            box-sizing: border-box;
            opacity: .55;
            padding: 0 20px!important;
        }
        .session {
            flex-direction: column;
            padding: 30px 28px;
            .session-title {
                width: 100%;
                padding: 0!important;
                margin-bottom: 10px;
                max-width: none;
                min-width: none;
                font-size: 18px;
                letter-spacing: -.3px;
            }
            .session-description {
                font-size: 14px;
            }
        }
    }

    .module-schedule {
        .schedule-description {
            box-sizing: border-box;
            padding: 0 20px!important;
            margin-bottom: 8px;
        }
        .session {
            flex-direction: column;
            .left {
                width: 100%;
                padding-bottom: 0;
            }
            .right {
                padding-top: 0;
            }
            &.dim {
                .session-title {
                    text-align: center;
                }
            }
            .left {
                border-right: none;
                    .session-title {
                        display: block;
                    }
            }
            .right {
                .session-title {
                    display: none;
                }
                .session-description {
                    font-size: 14.5px;
                }
                .speech {
                    font-size: 14.5px;
                }
            }
        }
    }

    .module-spnrs {
        padding-top: 0!important;
        padding-bottom: 30px!important;
        .level {
          margin-top: 20px;
        }
        .diamond-spnrs .spnr-logo {
          height: auto!important;
          max-width: 100%;
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
        }
        .sponsorship-letter {
            margin-top: 5px;
        }
        a {
          display: block;
          width: 100%;
        }
        img {
          display: block;
          margin: auto;
        }
    }

    .module-news {
        .news-card {
            padding-top: 30px!important;
            .news-logo-wrap {
                height: auto!important;
                max-height: 100px!important;
                padding-bottom: 15px;
            }
        }

    }

    .module-venue {
        position: relative;
        padding-bottom: 0!important;
        background-size: cover;
        background-position: left center;
        .wrapper {
            flex-direction: column;
        }
        .map-wrapper {
            background-image: url("/images/map.png");
            background-position: right center;
            background-size: cover;
            height: 300px;
            width: 100%;
            iframe {
                display: none;
                width: 100%;
                height: 300px;
            }
        }
        .venue {
            position: relative;
            flex-direction: column;
            height: 336px;
            box-sizing: border-box;
            width: 100%;
            padding: 50px!important;
            .venue-info {
                font-weight: 400!important;
            }
            * {
                position: relative;
                z-index: 5;
            }
        }
        .venue-mask {
            z-index: 4;
            text-indent: 99999px;
            display: block!important;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.2);
            top: 0;
            left: 0;
        }
        .register-button {
            left: 50px!important;
            width: 300px!important;
            margin: auto;
        }
    }

    .module-contact {
        flex-direction: column;
        box-sizing: border-box;
        padding-left:45px!important;
        padding-right:45px!important;
        form {
            input {
                width: 100%!important;
            }
        }
    }

    .module-about {
        box-sizing: border-box;
        padding-left:15px!important;
        padding-right:15px!important;
        .about-description {
            text-align: left;
        }
        .heading, .organizers {
            margin-left: 20px;
        }
    }
    footer {
        margin-top: 30px;
        margin-bottom: 10px;
        .social-bar {
            margin-bottom: 5px;
        }
    }

    #fg-player {
        iframe {
            margin: 0!important;
            height: 220px!important;
        }
    }
    iframe {
        margin: 0!important;
    }

    .modal {
        position: fixed;
        left: 15px;
        top: 30vh;
        width: calc(100vw - 30px);
        height: calc(100vh - 30px);
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }
    .video-button {
        &.desktop {
            display: none!important;
        }
        &.mobile {
            display: block!important;
        }
    }

    .subscribe {
        width: 100%;
        margin: 30px 0 0 0;
        box-sizing: border-box;

        .text {
            font-size: 22px!important;
            margin-bottom: 8px!important;
        }
        .subscribe-wrap {
            padding: 25px 30px;
            min-width: 100%!important;
        }
        form {
            width: 100%;
            flex-direction: column;
            input {
                height: 40px;
                font-size: 15px;
                line-height: 18px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 2px;
            }
            input[type="email"] {
                width: 100%;
                min-width: 200px;
                margin-right: 0;
                margin-bottom: 10px;
            }
            input[type="submit"] {
                width: 25%;
            }
        }
    }

// Posts
    aside.sidebar {
        display: none;
    }
    .container-left {
        width: 100%;
        box-sizing: border-box;
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    // .module-speakers {
    //   order: 1;
    // }

    .module-tickets {
      .tickets {
        display: none;
      }
      .ticket {
        .ticket-type {
          min-height: 5.5em;
        }
        font-size: 9px!important;
        li {
          margin-left: 10px!important;
        }
      }
    }

    .module-schedule-summary {
        .schedule-summary {
            font-size: 13px;
        }
        .day-summary {
            padding: 2vw!important;
        }
    }

    // .module-topics {
    //   order: 2;
    // }

    // .container .subscribe {
    //   order: 3;
    // }

    // .module-schedule {
    //   order: 4;
    // }

    // .module-spnrs {
    //   order: 6;
    // }

    // .module-testimonials {
    //   order: 7;
    // }

    // .module-news {
    //   order: 8;
    // }

    // .module-venue {
    //   order: 9;
    // }

    // .module-contact {
    //   order: 10;
    // }
}

@media (max-width: 660px) {
    .hotel {
        flex-direction: column !important;
        padding: 35px 0 45px 0 !important;
        margin: auto;
        .hotel-name {
            line-height: 36px !important;
        }
        .left, .right {
            width: 100%;
        }
        .left {
          padding-left: 40px;
        }
        .right {
            padding: 0 40px;
            justify-content: flex-start;
            .button {
                width: 220px;
                margin: 0;
            }
        }
        .hotel-address {
            line-height: 24px!important;
            padding: 10px 0 20px;
            span {
                display: block;
            }
        }
    }
}
