$mobile-width: 600px;
@media (max-width: $mobile-width) {
    // width reset
    header,
    .jumbotron,
    .jumbotron-wrap,
    .intro-video,
    .video-heading,
    .intro-video iframe,
    .container,
    .module,
    .module-title,
    a.module-title,
    .speakers,
    .schedule-description,
    .schedule-subdescription,
    .schedule,
    .venue,
    .about,
    .contact,
    .contact form,
    footer,
    .paginator,
    .copyright {
        width: 100%!important;
        min-width: 0!important;
        padding: 0!important;
    }
    header {
        padding: 9px 0!important;
    }
    .module {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
        .module-title {
            font-size: 30px!important;
            margin-top: 30px!important;
            margin-bottom: 15px!important;
        }
    }

    .jumbotron {
        height: 492px;
        overflow: hidden;

        .countdown {
            padding-top: 5px;
            .counter {
                font-size: 27px; /* <<<<adjust this value to change the size of the counter*/
            }
        }

        .jumbotron-wrap {
            transform: none;
        }
        .conf-logo {
            display: none;
        }
        .conf-title {
            padding-top: 8px;
            .conf-name {
                font-size: 34px;
                display: block;
                line-height: 36px;
                letter-spacing: -2px!important;
                text-shadow: 0 2px 30px rgba(6,172,255,.5), 0 2px 2px rgba(0,0,0,1);
            }
            .conf-nd {
                font-size: 22px;
                display: block;
                font-weight: 600;
                letter-spacing: 2px;
            }
            // &:after {
            //     display: block;
            //     content: " ";
            //     width: 120px;
            //     border-bottom: #296CEB 5px solid;
            //     margin: auto;
            //     margin-top: 20px;
            // }
        }
        .conf-theme {
            font-weight: 600;
            width: 100%;
            margin-top: 44px!important;
            font-size: 20px;
            line-height: 31px;
            padding-top: 5px;
            .applied, .deep-learning-and, .reinforcement-learning {
            font-size: 25px;
            }
       }
        .conf-info {
            margin-top: 14px;
            font-size: 17px;
            font-weight: 500;
            span {
                display: inline;
            }
            .conf-date {
                display: block!important;
            }
            .sep {
                display: none;
            }
        }
        .buttons {
            display: flex;
            width: 80%;
            .button {
                font-size: 14px;
                width: 49%;
                letter-spacing: 0;
            }
        }
        .bg-video {
            margin-top: 0!important;
            background-position-y: top;
            background-size: auto 115%;
            margin-left: 0;
            left: 0;
            background-position-x: -50% !important;
            margin-top: 0!important;
            width: 100%;
            overflow: hidden;
            height: 100%!important;
        }
        #bgPlayer {
            display: none;
        }
    }

    .module-topics {
        .module-title {
            margin: 10px 0 0!important;
        }
        .topics {
            padding: 10px 0;
            padding-bottom: 0;
            margin-bottom: 10px;
        }
        .topic-card {
            width: 320px;
            height: auto;
            margin:auto;
            margin-bottom: 20px;
            .topic-image-wrapper {
                width: 320px;
                height: 213px;
            }
            .topic-title {
                margin-bottom: 3px;
            }
            .topic-description {
                margin-top: 8px;
                text-align: left;
                color: #000;
            }
        }
    }

    .module-speakers {
        .module-title {
            margin: 10px 0 0!important;
        }
        .speakers {
            justify-content: center;
        }
        .speaker-card {
            margin: 20px 10px 15px;
            height: auto;
            width: 255px;
            .speaker-photo {
                width: 220px;
                height: 220px;
                margin-bottom: 2px;
            }
            .speaker-name {
            }
            .speaker-name,
            .speaker-position,
            .speaker-company {
                font-size: 18px!important;
                line-height: 22px!important;
            }
        }
    }

    .module-schedule {
        margin-top: 20px;
        .module-title {
            margin: 10px 0 0!important;
        }
        box-sizing: border-box;
        .section-time {
            margin-bottom: 0!important;
            display: none!important;
        }
        .section-title {
            box-sizing: border-box;
            font-size: 20px;
            padding: 0 20px!important;
            br {
                display: none;
            }
            .section-time-mobile {
                display: inline;
                font-size: 18px;
                padding-right: 15px;
            }
        }
        .schedule-description {
            box-sizing: border-box;
            padding: 0 20px!important;
            margin-bottom: 8px;
        }
        .schedule-subdescription {
            box-sizing: border-box;
            opacity: .55;
            padding: 0 20px!important;
        }
        .section {
            flex-direction: column;
            padding: 30px 28px;
            .section-title {
                width: 100%;
                padding: 0!important;
                margin-bottom: 10px;
                max-width: none;
                min-width: none;
                font-size: 18px;
                letter-spacing: -.3px;
            }
            .section-description {
                font-size: 14px;
            }
        }
    }

    .module-sponsors {
        padding-top: 0!important;
        padding-bottom: 30px!important;
        .sponsorship-letter {
            margin-top: 5px;
        }
    }

    .module-venue {
        position: relative;
        padding-top: 0!important;
        padding-bottom: 0!important;
        background-size: cover;
        background-position: left center;
        .wrapper {
            flex-direction: column;
        }
        .map-wrapper {
            background-image: url("/images/map.png");
            background-position: right center;
            background-size: auto 100%;
            height: 300px;
            width: 100%;
            iframe {
                display: none;
                width: 100%;
                height: 300px;
            }
        }
        .venue {
            position: relative;
            flex-direction: column;
            height: 336px;
            box-sizing: border-box;
            width: 100%;
            padding: 50px!important;
            .venue-info {
                font-weight: 400!important;
            }
            * {
                position: relative;
                z-index: 5;
            }
        }
        .venue-mask {
            z-index: 4;
            text-indent: 99999px;
            display: block!important;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.2);
            top: 0;
            left: 0;
        }
        .register-button {
            width: 300px!important;
            margin: auto;
        }
    }

    .module-contact {
        flex-direction: column;
        box-sizing: border-box;
        padding-left:45px!important;
        padding-right:45px!important;
        form {
            input {
                width: 100%!important;
            }
        }
    }

    .module-about {
        box-sizing: border-box;
        padding-left:15px!important;
        padding-right:15px!important;
        .about-description {
            text-align: left;
        }
        .heading, .organizers {
            margin-left: 20px;
        }
    }
    footer {
        margin-top: 30px;
        margin-bottom: 10px;
        .social-bar {
            margin-bottom: 5px;
        }
    }

    #fg-player {
        iframe {
            margin: 0!important;
            height: 220px!important;
        }
    }
    iframe {
        margin: 0!important;
    }

    .modal {
        position: fixed;
        left: 15px;
        top: 30vh;
        width: calc(100vw - 30px);
        height: calc(100vh - 30px);
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }
    .video-button {
        &.desktop {
            display: none!important;
        }
        &.mobile {
            display: block!important;
        }
    }
}
