.module {
    display: block;
    width: 100%;
}

.module-title {
    display: block;
    font-size: 32px;
    font-family: $serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #454545;
}
