$session-title-width: 117px;
.module-program {
    margin: auto;
    margin-top: 50px;
    padding: 0 10%;
    margin-bottom: 10px;
    max-width: 1250px;
    box-sizing: border-box;
    .module-title {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .program {
        display: flex;
        position: relative;
        flex-flow: row wrap;
        justify-content: space-between;
        color: #454545;
    }
    .program-description {
        font-size: 18px;
        color: #083365;
        letter-spacing: 0;
        line-height: 32px;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
    }
    // .program-subdescription {
    //     font-size: 16px;
    //     color: #083365;
    //     text-align: center;
    //     margin: auto;
    // }
    .day-buttons {
        width: 155px;
        height: 25px;
    }
    .heading-box {
        display: block;
        box-sizing: border-box;
        padding: 20px 28px 22px;
        margin: auto;
        width: 100%;
        font-size: 22px;
        margin-top: 30px;
        font-weight: normal;
        color: white;
        background: #0070E8;
        height: 72px;
        font-weight: 600;
        letter-spacing: .5px;
        align-content: baseline;
        a {
            color: white;
        }
        .day-heading {
            float: left;
        }
        .day-date {
            float: right;
            font-size: 18px;
        }
    }
    .session {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        border: solid 1px #E2E2E2;
        border-top: 0;
        padding: 19px 28px;
        .session-time {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #083365;
            min-width: $session-title-width;
            max-width: $session-title-width;
            font-weight: 600;
            padding-right: 25px;
            br {
                display: none;
            }
        }
        .session-time-mobile {
            display: none;
            min-width: 70px;
            max-width: 70px;
            font-weight: 600;
            margin-bottom: 5px;
            padding-right: 15px;
            font-size: 16px;
            color: #0070E8;
            letter-spacing: 0;
            line-height: 27px;
        }
        .session-title {
            display: block;
            min-width: $session-title-width;
            max-width: $session-title-width;
            font-weight: 600;
            margin-bottom: 5px;
            padding-right: 25px;
            font-size: 16px;
            color: #0070E8;
            letter-spacing: 0;
            line-height: 27px;
        }
        .session-description {
            width: 100%;
            font-size: 15px;
            color: #083365;
            letter-spacing: 0;
            line-height: 26px;
            ul li {
                list-style-position: inside;
            }
        }
    }

    .session.dim {
        background: #FAFAFA;
        * {
            color: #083365!important;
        }
        .session-time {
            font-size: 16px!important;
            line-height: 27px!important;
        }
    }

    .subsession {
        display: block;
        margin-top: 20px;
        .subsession-title {
            font-size: 16px;
            font-weight: bold;
        }
        .subsession-description {
            font-size: 14px;
            line-height: 18px;
            margin-left: 40px;
        }
    }

    .program > .day {
        display: none;
        width: 100%;
    }
    .program > #day1 {
        display: block;
    }

    .day-buttons {
        height: 72px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: -30px;
        .day-button {
            position: relative;
            z-index: 1;
            cursor: pointer;
            width: 33.333333%;
            box-sizing: border-box;
            line-height: 72px;
            font-size: 22px;
            font-weight: normal;
            text-align: center;
            color: white;
            background: #0057b5;
            height: 72px;
            font-weight: 600;
            letter-spacing: .5px;
            align-content: baseline;
            border-right: white 2px solid;
            &:last-of-type {
                border: 0;
            }
        }
    }
}
