:root {
  --link-color: #0070E8;
  --header-height: 88px;
  --header-padding-Y: 20px;
  --button-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  --button-shadow--hover: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);

}

@media (max-width: 980px) {
  :root {
    --header-height: 66px;
    --header-padding-Y: 9px;
  }
}
