.module-schedule {
    margin: auto;
    margin-top: 50px;
    padding: 0 10%;
    margin-bottom: 10px;
    max-width: 1250px;
    box-sizing: border-box;
    .module-title {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .schedule {
        display: flex;
        position: relative;
        flex-flow: row wrap;
        justify-content: space-between;
        color: #454545;
    }
    .schedule-description {
        font-size: 18px;
        color: #083365;
        letter-spacing: 0;
        line-height: 32px;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
    }
    // .schedule-subdescription {
    //     font-size: 16px;
    //     color: #083365;
    //     text-align: center;
    //     margin: auto;
    // }
    .day-buttons {
        width: 155px;
        height: 25px;
    }
    .heading-box {
        display: block;
        box-sizing: border-box;
        padding: 20px 28px 22px;
        margin: auto;
        width: 100%;
        font-size: 22px;
        margin-top: 30px;
        font-weight: normal;
        color: white;
        background: #0070E8;
        height: 72px;
        font-weight: 600;
        letter-spacing: .5px;
        align-content: baseline;
        a {
            color: white;
        }
        .day-heading {
            float: left;
        }
        .day-date {
            float: right;
            font-size: 18px;
        }
    }

    .session {
        display: flex;
        width: 100%;
        flex-direction: row;
        border: solid 1px #E2E2E2;
        border-top: 0;
        &.dim {
            background: #FAFAFA;
            * {
                color: #083365!important;
            }
            .time {
            }
        }
        .left {
            box-sizing: border-box;
            padding: 19px 28px;
            min-width: 320px;
            border-right: solid 1px #E2E2E2;

        }
        .right {
            box-sizing: border-box;
            padding: 19px 28px;
        }
        .time {
            margin: auto;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #083365;
            margin: 8px 0;
            text-align: center;
            font-weight: 600;
            br {
                display: none;
            }
        }
        .time-mobile {
            display: none;
            min-width: 70px;
            max-width: 70px;
            font-weight: 600;
            margin-bottom: 5px;
            padding-right: 15px;
            font-size: 16px;
            color: #0070E8;
            letter-spacing: 0;
            line-height: 27px;
        }
        .session-title {
            display: block;
            font-weight: 600;
            margin-bottom: 5px;
            font-size: 16px;
            color: #0070E8;
            letter-spacing: 0;
            line-height: 27px;
        }
        .session-description {
            font-weight: 600;
            font-size: 13px;
            line-height: 22px;
            color: #083365;
            ul li {
                list-style-position: inside;
            }
        }
    }

    .speech {
        font-size: 13px;
        .speech-title {
            display: block;
            font-weight: 600;
            color: #0070E8;
            margin-top: 12px;
        }
        .speech-description {
            color: #083365;
        }
    }

    .speakers {
        display: flex;
        margin: auto;
        margin-top: 40px;
        position: relative;
        flex-flow: row wrap;
        justify-content: center;
        .speaker {
            display: flex;
            box-sizing: border-box;
            margin-bottom: 35px;
            position: relative;
            width: 50%;
            flex-direction: column;
            justify-content: start;
        }
        .speaker .photo {
            width: 75px;
            height: 75px;
            border-radius: 100%;
            margin: auto;
            margin-bottom: 7px;
            background-image: url(/images/speakers/placeholder.png);
            background-size: 100%;
        }

        .speaker .name {
            font-size: 12px;
            font-weight: 600;
            line-height: 15px;
        }

        .speaker .position,
        .speaker .company {
            font-size: 10px;
            line-height: 13px;
        }

        .speaker .name,
        .speaker .position,
        .speaker .company {
            color: #414E52;
            text-align: center;
            white-space: nowrap;
        }
    }
}
