.module-schedule {
    margin: auto;
    margin-top: 50px;
    padding: 0 10%;
    margin-bottom: 10px;
    max-width: 1250px;
    box-sizing: border-box;
    .module-title {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .schedule {
        display: flex;
        position: relative;
        flex-flow: row wrap;
        justify-content: space-between;
        color: #454545;
    }
    .schedule-description {
        font-size: 18px;
        color: #083365;
        letter-spacing: 0;
        line-height: 32px;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
    }
    // .schedule-subdescription {
    //     font-size: 16px;
    //     color: #083365;
    //     text-align: center;
    //     margin: auto;
    // }
    .day-buttons {
        width: 155px;
        height: 25px;
    }
    .heading-box {
        display: block;
        box-sizing: border-box;
        padding: 20px 28px 22px;
        margin: auto;
        width: 100%;
        font-size: 22px;
        margin-top: 30px;
        font-weight: normal;
        color: white;
        background: #0070E8;
        height: 72px;
        font-weight: 600;
        letter-spacing: .5px;
        align-content: baseline;
        a {
            color: white;
        }
        .day-heading {
            float: left;
        }
        .day-date {
            float: right;
            font-size: 18px;
        }
    }
    .section {
        display: flex;
        flex-direction: row;
        border: solid 1px #E2E2E2;
        border-top: 0;
        padding: 38px 28px;
        &.dim {
            background: #FAFAFA;
            .section-title {
                color: #083365;
            }
        }
        .section-title {
            display: block;
            min-width: 130px;
            max-width: 130px;
            font-weight: 600;
            margin-bottom: 5px;
            padding-right: 45px;
            font-size: 20px;
            color: #0070E8;
            letter-spacing: 0;
            line-height: 27px;
        }
        .section-description {
            font-size: 15px;
            color: #083365;
            letter-spacing: 0;
            line-height: 26px;
        }
    }

    .subsection {
        display: block;
        margin-top: 20px;
        .subsection-title {
            font-size: 16px;
            font-weight: bold;
        }
        .subsection-description {
            font-size: 14px;
            line-height: 18px;
            margin-left: 40px;
        }
    }

}
