.module-schedule {
    width: 720px;
    margin: auto;
    margin-top: 50px;
    padding: 0 130px;
    margin-bottom: 40px;
    .module-title {
        width: 720px;
        margin: auto;
        margin-bottom: 20px;
    }
    .schedule {
        display: flex;
        padding: 0 20px;
        position: relative;
        flex-flow: row wrap;
        justify-content: space-between;
        color: #454545;
    }
    .schedule-description {
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        padding: 0 20px;
    }
    .day-buttons {
        width: 155px;
        height: 25px;
    }
    .day-heading {
        display: block;
        margin: auto;
        width: 980px;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
        font-weight: normal;
        margin-bottom: 8px;
    }
    .section {
        display: block;
        border-top: solid 1px #f79405;
        padding-top: 10px;
        margin-bottom: 20px;
        .section-title {
            color: #F79405;
            font-size: 24px;
            font-family: "Helvetica Neue", Arial, sans-serif;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .section-description {
            font-size: 16px;
            line-height: 20px;
            text-align: justify;
        }
    }

    .subsection {
        display: block;
        margin-top: 20px;
        .subsection-title {
            font-size: 16px;
            font-weight: bold;
        }
        .subsection-description {
            font-size: 14px;
            line-height: 18px;
            margin-left: 40px;
            text-align: justify;
        }
    }

}
