.module-speakers {
    box-sizing: border-box;
    background-color: #015EC3;
    width: 100%;
    padding: 25px 0;
    .button {
      border: 1px solid white;
      color: white;
      margin: 8px auto 24px;
      width: 120px;
      &:hover {
        background: white;
        color: #025DC3;
      }
    }
    .module-title {
        display: block;
        color: white;
        width: 100%;
        margin-bottom: 25px;
    }
    .moderator-title {
        display: block;
        color: white;
        font-weight: 600;
        text-align: center;
        font-size: 25px;
        width: 100%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .speakers, .moderators {
        display: flex;
        box-sizing: border-box;
        margin: auto;
        position: relative;
        flex-flow: row wrap;
        padding: 0;
        justify-content: center;
        max-width: 1250px;
    }
    .speaker {
        display: flex;
        box-sizing: border-box;
        justify-content: start;
        align-items: center;
        margin-bottom: 40px;
        position: relative;
        width: 200px;
        flex-direction: column;
        cursor: pointer;
    }
    .speaker > .photo {
        box-sizing: border-box;
        width: 150px;
        height: 150px;
        border-radius: 1000px;
        margin-bottom: 16px;
        background-image: url(/images/speakers/placeholder.png);
        background-size: 100%;
        border: #015EC3 3px solid;
    }
    .speaker > .photo {
        transition: border .2s, opacity .2s;
    }
    .speaker:not([id="more-to-come"]):hover > .photo {
        border: rgba(255,255,255,.5) 3px solid;
        opacity: .85;
    }

    .speaker[id="more-to-come"] {
        pointer-events: none;
        .name {
            display: none;
        }
    }

    .speaker .name {
        color: white;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 600;
        font-size: inherit;
    }

    .speaker span {
        font-size: 15px;
        line-height: 18.5px;
        color: white;
        text-align: center;
    }

    .speaker .narrow {
        font-family: "Helvetica Narrow";
        letter-spacing: -1.4px;
        transform: scaleY(1.1);
    }
    .speaker--active .details {
        display: flex!important;
    }
    .speaker .details {
        display: none;
        overflow-y: scroll;
        flex-direction: column;
        position: fixed;
        z-index: 100;
        width: 100vw;
        cursor: default;
        height: 100vh;
        box-sizing: border-box;
        padding: 0 45px;
        justify-content: start;
        align-items: center;
        background: #015EC3;
        left: 0;
        top: 0;
        a {
          text-decoration: underline;
        }
        .close-button {
            position: fixed;
            font-size: 100px;
            width: 58px;
            height: 58px;
            text-indent: 1000000px;
            top: 10px;
            right: 10px;
            pointer-events: none;
            background:url(/images/cross-close-button.png) no-repeat 100% 100%;
        }
        .wrap {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            max-width: 660px;
            padding: 45px 0;
            .photo {
                box-sizing: border-box;
                width: 150px;
                height: 150px;
                border-radius: 1000px;
                margin-bottom: 16px;
            }
            .bio .content {
                display: block;
                width: 100%;
                line-height: 24px;
                text-align: justify;
            }
            .bio .title {
                display: block;
                font-size: 20px;
                line-height: 26px;
                text-align: left!important;
                padding-bottom: 10px;
            }
            .sessions {
                width: 100%;
                padding: 24px 0;
                span {
                    display: block;
                }
                .title {
                    font-size: 20px;
                    line-height: 26px;
                    text-align: left;
                    padding-bottom: 10px;
                }
                .day {
                    padding-right: 8px;
                    font-weight: 600;
                }
                .day, .time {
                    display: inline-block;
                    color: rgba(255,255,255,.6);
                }
                .description {
                    text-align: justify;
                    line-height: 24px;
                }
            }
        }
    }
}

