.module-speakers {
    box-sizing: border-box;
    background-color: #015EC3;
    width: 100%;
    padding: 25px 0;
    .module-title {
        display: block;
        color: white;
        width: 100%;
        margin: auto;
        margin-bottom: 25px;
    }
    .speakers, .moderators {
        display: flex;
        box-sizing: border-box;
        margin: auto;
        position: relative;
        flex-flow: row wrap;
        padding: 0;
        justify-content: center;
        max-width: 1250px;
    }
    .speaker {
        display: flex;
        box-sizing: border-box;
        margin-bottom: 40px;
        position: relative;
        width: 200px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .speaker .photo {
        width: 150px;
        height: 150px;
        border-radius: 1000px;
        margin-bottom: 16px;
        background-image: url(/images/speakers/placeholder.png);
        background-size: 100%;
    }

    .speaker .name {
        font-weight: 600;
    }

    .speaker .name,
    .speaker .position,
    .speaker .company {
        font-size: 15px;
        line-height: 18px;
        color: white;
        text-align: center;
        // white-space: nowrap;
    }

    .speaker .narrow {
        font-family: "Helvetica Narrow";
        letter-spacing: -1.4px;
        transform: scaleY(1.1);
    }
}

