.module-speakers {
    box-sizing: border-box;
    background-color: #015EC3;
    min-width: 1250px;
    width: 100%;
    padding: 70px;
    .module-title {
        display: block;
        color: white;
        width: 100%;
        margin: auto;
        margin-bottom: 75px;
    }
    .speakers {
        display: flex;
        width: 1250px;
        box-sizing: border-box;
        padding: 0 120px;
        margin: auto;
        position: relative;
        flex-flow: row wrap;
    }
    .speaker-card {
        display: flex;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 20px;
        position: relative;
        width: 20%;
        flex-direction: column;
        justify-content: start;
    }

    .speaker-card .speaker-photo {
        width: 120px;
        border-radius: 1000px;
        margin: auto;
        margin-bottom: 16px;
    }

    .speaker-card .speaker-name {
        font-weight: 600;
    }

    .speaker-card .speaker-name,
    .speaker-card .speaker-position,
    .speaker-card .speaker-company {
        font-size: 15px;
        line-height: 18px;
        color: white;
        text-align: center;
    }
}

