.module-sponsors {
    padding-bottom: 50px;
    .module-title {
        color: #083365;
        letter-spacing: 0;
        margin: auto;
        margin-bottom: 20px;
    }
    .sponsors {
        display: flex;
        margin: auto;
        flex-flow: row wrap;
    }
    .speaker-logo {
        width: 192px;
    }
    .sponsorship-letter {
        box-sizing: border-box;
        display: block;
        text-align: center;
        margin: auto;
        color: white;
        display: block;
        text-transform: uppercase;
        text-align: center;
        background-color: white;
        letter-spacing: .6px;
        color: #0070E8;
        border: solid #0070E8 1px;
        width: 200px;
        font-weight: 600;
        &:hover {
            background-color: #0070E8;
            color: white;
        }
    }

}

