.module-spnrs {
    padding-bottom: 50px;
    max-width: 1250px;
    margin: auto;
    .module-title {
        color: #083365;
        letter-spacing: 0;
        margin: auto;
        margin-bottom: 20px;
    }
    .spnrs {
        display: flex;
        margin: auto;
        flex-flow: row wrap;
    }
    .last-years-spnrs, .this-years-spnrs, .level {
        display: block;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-top: 25px;
    }
    .speaker-logo {
        width: 192px;
    }
    .spnrship-letter {
        box-sizing: border-box;
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        color: white;
        display: block;
        text-align: center;
        background-color: white;
        letter-spacing: .6px;
        color: #0070E8;
        border: solid #0070E8 1px;
        width: 200px;
        font-weight: 600;
        &:hover {
            background-color: #0070E8;
            color: white;
        }
    }
    .spnrs {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img.spnr-logo {
        position: relative;
        height: 60px;
        padding: 10px 20px;
    }
}
