.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    .subscribe-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: #DDD 5px dashed;
        width: 60%;
        min-width: 530px;
        padding: 35px 46px;
        box-sizing: border-box;
    }
    span.text {
        font-family: $Avenir-Next;
        font-size: 32px;
        line-height: 38px;
        color: #FF4E63;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: row;
        input {
            height: 50px;
        }
        input[type="email"] {
            font-family: $Helvetica-Neue;
            font-size: 14px;
            color: #A6A7A8;
            line-height: 21px;
            box-sizing: border-box;
            border: 1px solid #FF5D82;
            border-radius: 4px;
            width: 40%;
            min-width: 300px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 20px;
        }
        input[type="submit"] {
            background: #FF4E63;
            border-radius: 4px;
            font-family: $Helvetica-Neue;
            font-size: 14px;
            color: #FFFFFF;
            border: 0;
        }
    }
}
