.module-venue {
    background-color: #F6F6F7;

    .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    margin: auto;
    }

    .map-wrapper {
        width: 80%;
    }
    iframe {
        width: 100%;
        margin: 0;
        height: 300px;
    }
    .venue {
        min-width: 500px;
        box-sizing: border-box;
        padding: 45px 25px;
        display: flex;
        position: relative;
        flex-direction: row;
        background: url("/images/venue-bg.jpg");
        background-size: cover;
        background-position: left center;
        .venue-mask {
            display: none;
        }
        .conf-info {
            width: 220px;
            font-family: $Avenir-Next;
            font-size: 31px;
            color: #FFF;
            letter-spacing: 0;
            line-height: 32px;
            font-weight: 600;
            margin-right: 30px;
            .venue-time {
                font-size: 18px;
            }
        }
        .venue-info {
            font-family: $Avenir-Next;
            font-weight: 600;
            font-size: 13px;
            color: #FFF;
            letter-spacing: 0;
            line-height: 22px;
            span {
                display: block;
            }
        }
        .register-button {
            position: absolute;
            left: 30px;
            background: #0070E8;
            border-radius: 4px;
            box-sizing: border-box;
            width: 440px;
            bottom: 40px;
            color: white;
            letter-spacing: .7px;
        }
    }
    .hotel {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 13px 62px;
        max-width: 800px;
        margin: auto;
        .left {
            width: 65%;
            span.suggested-hotel {
                font-family: $Avenir-Next;
                font-size: 15px;
                color: #083365;
                line-height: 32px;
            }
            .hotel-name {
                font-family: $Avenir-Next;
                font-weight: 600;
                font-size: 31px;
                color: #0070E8;
                line-height: 32px;
                padding-top: 8px;
                padding-bottom: 3px;
            }
            .hotel-address {
                font-family: $Avenir-Next;
                font-size: 15px;
                color: #083365;
                line-height: 32px;
            }
        }
        .right {
            display: flex;
            width: 35%;
            justify-content: flex-end;
            align-items: center;
            .button {
                border: 1px solid #083365;
                border-radius: 4px;
                &:hover {
                    background-color: #083365;
                    color: #F6F6F7;
                }
            }
        }
    }
}

