.module-venue {
    background-color: #F6F6F7;

    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      color: white;
      margin: auto;
      min-height: 300px;
    }

    .map-wrapper {
        width: 80%;
    }
    iframe {
        width: 100%;
        margin: 0;
        height: 300px;
    }
    .venue {
        min-width: 500px;
        box-sizing: border-box;
        padding: 40px 25px;
        display: flex;
        position: relative;
        flex-direction: row;
        background: url("/images/venue-bg.jpg");
        background-size: cover;
        background-position: left top;
        .venue-mask {
            display: none;
        }
        .conf-info {
            font-family: $Avenir-Next;
            font-weight: 600;
            font-size: 13px;
            color: #FFF;
            letter-spacing: 0;
            line-height: 22px;
            span {
                display: block;
                margin-bottom: 15px;
                font-size: 17px;
            }
            .venue-name {
              font-size: 24px;
            }
        }
        .register-button {
            position: absolute;
            left: 100px;
            background: #0070E8;
            border-radius: 4px;
            box-sizing: border-box;
            width: 200px;
            bottom: 40px;
            color: white;
            letter-spacing: .7px;
        }
    }
    .hotel {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 13px 62px;
        justify-content: center;
        align-items: center;
        width: 100%;
        .left {
            padding-right: 40px;
            box-sizing: border-box;
            span.suggested-hotel {
                font-family: $Avenir-Next;
                font-size: 20px;
                color: #083365;
                line-height: 32px;
            }
            .hotel-name {
                font-family: $Avenir-Next;
                font-weight: 600;
                font-size: 36px;
                color: #0070E8;
                line-height: 32px;
                padding-top: 8px;
                padding-bottom: 3px;
            }
            .hotel-address {
                font-family: $Avenir-Next;
                font-size: 17px;
                color: #083365;
                line-height: 32px;
            }
        }
        .right {
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            .button {
                border: 1px solid #0070E8;
                background-color: #0070E8;
                border-radius: 4px;
                color: white;
                margin-left: 50px;
            }
        }
    }
}


